<p id="notice"><%= notice %></p>

<p>
  <strong>Egn:</strong>
  <%= @voter.egn %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @voter.vote %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
